@import url('https://fonts.googleapis.com/css2?family=Lexend:wght@100..900&display=swap');
.mainContainer {
    flex-direction: column;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
}

.titleContainer {
    display: flex;
    flex-direction: column;
    font-size: 36px;
    font-weight: bolder;
    align-items: center;
    justify-content: center;
}

.inputContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-bottom: 20px;
}

.inputContainer > label {
    margin-bottom: 8px;
}

.inputBox, .loginButton {
    height: 48px;
    width: 400px;
    font-size: large;
    border-radius: 8px;
    border: 1px solid grey;
    padding-left: 8px;
    margin-bottom: 10px;
}

.loginButton {
    background-color: #4CAF50;
    color: white;
    border: none;
    cursor: pointer;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2); 
    transition: 0.3s;
    text-align: center;
    vertical-align: middle;
    margin: auto; 
    
}

.loginButton:hover {
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.3); 
}
